{% extends "base.html" %}
{% block title %}<h1><a class="title" href="{{SITEURL}}">{{ SITENAME }}</a> | archives</h1>{% endblock %}
{% block content %}
                <div class="row archive">
                    <div class="span9 offset1">
                        <p/>
                        <h2 class="post_title">Archives</h2>
                        {% for article in dates %}
                        <a href='{{ article.url }}'>{{ article.title }}</a> - {{ article.date.strftime("%d %b %Y") }}<br/>
                        {% endfor %}
                    </div>
                </div>
{% endblock %}
