{% extends 'base.html' %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
                <div class="row blog_entry">
                    <div class="span1 blog_date">
                        {{ article.date.strftime("%B <h2>%d</h2> %Y") }}
                    </div>
                    <div class="span8">
                        <h2 class="post_title"><a class="post_title" href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a></h2>
                        <div class="blog_post">
                        {% if loop.first and not articles_page.has_previous() %}
                            {{ article.content }}
                        {% else %}
                            {{ article.summary }}
                            <a class="btn btn-mini btn-info" href="{{SITEURL}}/{{ article.url }}">read more</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock content %}
